<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			IT Leader with proven success in leading the design and development of cutting edge Technology Solutions with significant experience in managing development of complex distributed systems & operations with security and scale as core tenants. <br/><br/>
			Unique blend of customer focused, thought leadership along with rich and diverse technical experience in multiple disciplines. Reputation for creating teams with “Customer-First” attitude and have enthusiasm, transparency, and a genuine buy-in to the shared mission.
		</div>
		<br>
	</div>
</div>
